<!--Main Navigation-->
<header class="intro-header">
  <!-- Intro Section -->
  <!-- Full Page Intro -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url('https://images.pexels.com/photos/1688504/pexels-photo-1688504.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
   background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: center center; height:900px">
    <!-- Mask & flexbox options-->
    <div class="full-bg-img mask rgba-black-light waves-effect waves-white align-items-center">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
            <div class="text-center">
              <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">Making Language Exchanges
                Work For YOU!</h3>
              <hr class="hr-light my-4 w-75">
              <h4 class="subtext-header mt-2 mb-4">Join our global community learners.
                <br>Your first language exchange ..</h4>
              <a href="#" class="btn btn-rounded btn-outline-white">
                <i class="fas fa-running"> Start learning now</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->
