<main>
  <div class="container">
    <section class="mt-5 wow fadeIn shadow-lg  bg-white">
      <div class="row mr-1 ml-0 wow fadeIn">
        <div class="col-md-6 mb-4 pt-4" style="font-size: 20px; border-radius: 12px">
          <h2 class="h3 mb-5 ml-4 text-center"
            style="font-family: Museo Sans Cyrillic, Open Sans, Helvetica Neue, sans-serif">What is a language exchange?
          </h2>
          <p class="mt-2">Two or more people who speak different languages practicing each other’s language.
          </p>
          <p>For example, an English speaker who is learning French will do a language exchange with a French speaker
            who is learning English.</p>
          <p>There are many ways to practice in a language exchange.</p>
          <a href="" class="btn btn-indigo btn-md">Read more <i class="fa fa-book ml-1"></i></a>
          <a href="" class="btn btn-indigo btn-md">News <i class="fa fa-image ml-1"></i></a>
        </div>
        <div class="col-md-6 mb-4">
          <img src="https://images.pexels.com/photos/1162964/pexels-photo-1162964.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="thumbnail" class="img-fluid rounded-circle z-depth-1-half">
        </div>
      </div>
    </section>

    <section class="mt-5 wow fadeIn shadow-lg rounded bg-white">
      <div class="row mr-1 ml-0">
        <div class="col-md-6 mb-4">
          <img src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="thumbnail" class="img-fluid rounded-circle z-depth-1-half">
        </div>
        <div class="col-md-6 mb-4 pt-4" style="font-size:18px">
          <h3 class="h3 mb-5 ml-4 text-center"
            style="font-family: Museo Sans Cyrillic, Open Sans, Helvetica Neue, sans-serif">What is a language exchange?
          </h3>
          <ol class="mt-1" type="1">
            <li>It’s fun and you can make new friends from different cultures</li>
            <li>You learn slang and colloquial expressions you don’t usually learn in a language class</li>
            <li>It’s free</li>
            <li>There is no homework or boring grammar books to study</li>
            <li>You practice both listening and speaking at the same time. If you also want to practice writing and
              reading, you can do so by exchanging emails with your language exchange partner</li>
            <li>It’s a very fast and effective language learning method</li>
          </ol>

          <a href="" class="btn btn-indigo btn-md">Read more <i class="fa fa-book ml-1"></i></a>
          <a href="" class="btn btn-indigo btn-md">News <i class="fa fa-image ml-1"></i></a>
        </div>

      </div>
    </section>

    <section>
      <div class="row mt-5   justify-content-center ">
        <div class="col-md-8  bg-white shadow-lg img-section">
          <h2><strong>I want to learn...</strong></h2>
          <div class="row img-container">
            <div class="col-4 img-column ">
              <img src="img/united-kingdom-flag-3d-round-icon-64.png" alt="">
            </div>
            <div class="col-4 img-column">
              <img src="img/ukraine-flag-3d-round-icon-64 (1).png" alt="">
            </div>
            <div class="col-4 img-column">
              <img src="img/poland-flag-3d-round-icon-64.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
