<!--Navbar-->
<mdb-navbar SideClass="navbar  navbar-expand-lg fixed-top  scrolling-navbar" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><strong>Navbar</strong></a></mdb-navbar-brand>
      <links>
          <!-- Links -->
          <ul class="navbar-nav mr-auto md-3 smooth-scroll">
              <li class="nav-item active">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
              </li>
              <div class="w-100">
                  <hr class="my-1 md-display-none" />
              </div>
              <li class="nav-item">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fas fa-user-plus "></i> Sign up</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-light" mdbWavesEffect><i class="fas fa-sign-in-alt"></i> Log in</a>
              </li>
          </ul>
          <!-- Links -->
      </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
